In [1]:
%matplotlib inline
import pandas as pd

/home/mmoscardini/miniconda3/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.read_csv('data/titles.csv', index_col=None)
titles.head()

                            title  year
0                      Crime Time  2000
1                      Insectula!  2015
2  Alleluia! The Devil's Carnival  2016
3                 Dreams of Glass  1970
4     Shiv Bhakat Baba Balak Nath  1972

In [4]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [22]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [30]:
titles.sort_values(by=['year']).head(2)

                     title  year
24714           Miss Jerry  1894
169712  The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [6]:
len(titles.loc[titles['title'] == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [59]:
len(titles.loc[titles['title'] == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [70]:
titles.loc[titles['title'] == 'Hamlet', ['year']].sort_values('year').iloc[0]

year    1910
Name: 64031, dtype: int64

In [69]:
titles.loc[titles['title'] == 'Hamlet'].sort_values('year').head(1)

        title  year
64031  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [73]:
titles.loc[titles['title'] == "Treasure Island"].sort_values('year')

                  title  year
36826   Treasure Island  1918
84868   Treasure Island  1920
185553  Treasure Island  1934
84      Treasure Island  1950
72679   Treasure Island  1972
77167   Treasure Island  1973
219690  Treasure Island  1985
38766   Treasure Island  1999

### How many movies were made in the year 1950?

In [75]:
titles.loc[titles['year'] == 1950]

                                     title  year
84                         Treasure Island  1950
738                     Train to Tombstone  1950
750                    El hijo de la noche  1950
866                      Father Makes Good  1950
1508                       Cabaret Shangai  1950
1644                 De Tequila, su mezcal  1950
1648                      The Old Frontier  1950
1800                  Anacleto se divorcia  1950
2012                      The Big Hangover  1950
2021                   A Serra da Aventura  1950
2445     Joe Palooka in The Squared Circle  1950
2654                               Beqarar  1950
2765                    Seven Days to Noon  1950
2996                             Dominique  1950
3456                        Lightning Guns  1950
3508             The Girl from San Lorenzo  1950
3680                            Dakota Lil  1950
3783                     I Killed Geronimo  1950
3791                          Captive Girl  1950
4018    The Misadventures of Buster Keaton  1950
4739                        Mutya ng Pasig  1950
4785                     Kill or Be Killed  1950
4869                            Musorgskiy  1950
4881                              Cascalho  1950
5069                           Crveni cvet  1950
5212                   Never a Dull Moment  1950
5296                                Sierra  1950
5438                               Showkar  1950
5651                     Ils ont vingt ans  1950
5952                   When You're Smiling  1950
...                                    ...   ...
240266            Entre tu amor y el cielo  1950
240466                  Three Little Words  1950
240525                      Xiadao Qinghua  1950
240618                 Kanske en gentleman  1950
240712               Walk Softly, Stranger  1950
240768                Anderssonskans Kalle  1950
240966                         The Lawless  1950
241746     The 20 Questions Murder Mystery  1950
241825                              Hantik  1950
241965                    The Ways of Love  1950
241987                        Dwie brygady  1950
242114                            Samsaram  1950
242259                        Flor de lago  1950
242332                     The Second Face  1950
242352            La figlia del mendicante  1950
242395          The Angel with the Trumpet  1950
242646                      Two Flags West  1950
242653               Eine seltene Geliebte  1950
242688                          Gadano Bel  1950
242723                           Chinnamul  1950
242815                              Dallas  1950
242992                  Catskill Honeymoon  1950
243031                           El puente  1950
243079                          Somos Dois  1950
243381                Panic in the Streets  1950
243642                        Todos Por Um  1950
243758                   Operation Haylift  1950
243858                    South Sea Sinner  1950
244197                 What the Butler Saw  1950
244386                  State Penitentiary  1950

[1113 rows x 2 columns]

In [76]:
len(titles.loc[titles['year'] == 1950])

1113

### How many movies were made in the year 1960?

In [77]:
len(titles.loc[titles['year'] == 1960])

1549

### How many movies were made from 1950 through 1959?

In [82]:
len(titles.loc[titles['year'].between(1950,1959)])

12934

In [91]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [97]:
titles[titles.title == 'Batman']

         title  year
105484  Batman  1943
181112  Batman  1989

### How many roles were there in the movie "Inception"?

In [100]:
len(cast[cast.title == 'Inception'])

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [107]:
len(cast[(cast.title == 'Inception') & (cast.n.isnull())])

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [120]:
len(cast[(cast.title == 'Inception') & (cast.n.notnull())])

51

In [ ]:
len(cast[(cast.title == 'Inception') & (~cast.n.isnull())])

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [121]:
cast[(cast.title == 'North by Northwest') & (cast.n.notnull())].sort_values('n', ascending=False)

,title,year,name,type,character,n
1384780,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1508344,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
2295714,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
1811387,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
2447081,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
1275337,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1695173,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
3048272,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
3157232,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
1457165,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
3518333,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
871426,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [124]:
cast[(cast.title == "Sleuth") & (cast.year == 1972)].sort_values('n')

,title,year,name,type,character,n
1705394,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
326773,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
373876,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1465483,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2724553,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1448690,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [128]:
cast[(cast.title == "Sleuth") & (cast.year == 2007) & (cast.n.notnull())].sort_values('n')

          title  year           name   type    character    n
326774   Sleuth  2007  Michael Caine  actor       Andrew  1.0
1293634  Sleuth  2007       Jude Law  actor         Milo  2.0
1805907  Sleuth  2007  Harold Pinter  actor  Man on T.V.  3.0

### How many roles were credited in the silent 1921 version of Hamlet?

In [130]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1921)])

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [131]:
len(cast[(cast.title == 'Hamlet') & (cast.year == 1996)])

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [133]:
len(cast[(cast.character == 'Hamlet')])

96

### How many people have played an "Ophelia"?

In [148]:
len(cast[(cast.character == 'Ophelia')])

117

In [149]:
len(cast[(cast.character == 'Ophelia')].name.unique())

115

### How many people have played a role called "The Dude"?

In [139]:
len(cast[(cast.character == 'The Dude')])

19

### How many people have played a role called "The Stranger"?

In [141]:
len(cast[(cast.character == 'The Stranger')])

212

In [162]:
len(cast[(cast.character == 'The Stranger')].name.unique())

202

### How many roles has Sidney Poitier played throughout his career?

In [167]:
len(cast[(cast.name == 'Sidney Poitier')].title.unique())

43

### How many roles has Judi Dench played?

In [168]:
len(cast[(cast.name == 'Judi Dench')].title.unique())

55

### List the supporting roles (having n=1) played by Cary Grant in the 1940s, in order by year.

In [21]:
cast[(cast.name == 'Cary Grant') & (cast.n == 1) & (cast.year // 10 == 194)].sort_values('year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [33]:
cast[(cast.name == 'Cary Grant') & (cast.year // 10 == 194)].sort_values('year')

,title,year,name,type,character,n
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871423,My Favorite Wife,1940,Cary Grant,actor,Nick Arden,2.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871433,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871405,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871466,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [37]:
len(cast[(cast.year // 10 == 195) & (cast.type == 'actor')])

157738

### How many roles were available for actresses in the 1950s?

In [44]:
c = cast
c = c[c.type == 'actress']
c = c[c.year // 10 == 195]
len(c)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [47]:
c = cast
c = c[c.year // 10 < 198 & c.year // 10 < 198 ]
c = c[c.n == 1]
len(c)

13331

### How many non-leading roles were available through from the beginning of film history through 1980?

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?